
.modal {
    
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    display: none;

     
}

.modal-show {
    display: block;
}
.modal-content {
    margin-left: 35%;
    display: block;
}

#name{
    color: blue;

}

#textProfile{
    margin-right: 20%;
    color: #365899;
    font-weight: bold;    
}

#imgProfile{
    vertical-align: middle;
    width: 50px;
    border-radius: 3px;
}

#profile{
    width: 100%;
    height: 70px;
    background: #fff;
}

#imagDescription{
    color: #000;
    size: 12px;
    margin-left: 10%;
    text-align: left;
}

#descriptionsection{
    margin-left: -30%;
}

#content {

    width: 357px;
    float: left;
    height: 480px;


    margin-top: 0px;
    display: block;
    text-align: center;
    color: #ccc;
    background: #fff;
    padding: 10px 0;
}


#img01{

    height: 500px;
    width: 50%;
    float: left;
}


.modal-content, #content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

div#reactions {
    color: #4b4f56;
    margin-top:6px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding-top: 5px;
    box-sizing: border-box;
    height: 30px;

}


div#reactions span:nth-child(2){
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-left: 4px;
    padding-right: 4px;

}

div#reactions span {
    cursor: pointer;
    margin:4px;
}

div#reactions span:hover {
    text-decoration: underline;
}

div#totalLikes {
    color:#5890ff;
}

div#totalLikes span {
    margin: 10px;
    float: left;
    display: inline-flex;

}

div#totalLikes span i {
    color: #fff;
    /* width: 10px; */
    /* height: 10px; */
    border-radius: 50%;
    background-color: #5890ff;
    width: 20px;
    height: 20px;
    /* padding: 4px; */
    margin-right: 4px;
}

div#totalLikes span#totalCounterL {
    margin: 0px 0px 0px 4px;
}